<template name="home">
    <div class="row-fluid">
        {{#if activeUser}}
                <div class="main">
                    <div class="self-pane">
                        <p class="instructions">This is... You</p>
                        <div id="local-media"></div>
                        <button id="button-preview" class="sharp">Preview My Camera</button>
                    </div>

                    <div class="other-pane">
                        <p class="instructions">This is... A Stranger</p>
                        <div id="stranger-media"></div>
                        <button id="button-preview">Preview My Camera</button>
                    </div>
                </div>
        {{else}}
            <div class="signup">
                <form class="main form">
                    <label class="control-label" for="username">Create a Username</label>
                    <input name="username" id="username" type="text" value="{{username}}" placeholder="John Doe" class="form-control"/>
                    <input type="submit" value="Submit" class="btn btn-default submit sharp"/>
                </form>
            </div>
        {{/if}}
    </div>

    <div class="row-fluid">
        <div class="bottom">
            <h1>This the footer</h1>
        </div>
    </div>
</template>
