<template name="home">
    <div class="row">
        {{#if activeUser}}
                <div class="main">
                    <div class="self-pane">Hello!</div>
                    <div class="other-pane">Hello!</div>
                </div>
        {{else}}
            <div class="signup">
                <input name="title" id="title" type="text" value="{{title}}" placeholder="Username" class="form-control"/>
                <span class="help-block">{{errorMessage 'title'}}</span>
            </div>
        {{/if}}
    </div>

    <div class="row">
        <div class="bottom">
            <h1>This the footer</h1>
        </div>
    </div>
</template>
