<template name="home">
    <div class="row-fluid">
        {{#if activeUser}}
                <div class="main">
                    <div class="self-pane">Hello!</div>
                    <div class="other-pane">Hello!</div>
                </div>
        {{else}}
            <div class="signup">
                <form class="main form">
                    <label class="control-label" for="username">Create a Username:</label>
                    <input name="username" id="username" type="text" value="{{username}}" placeholder="John Doe" class="form-control"/>
                    <input type="submit" value="Submit" class="btn btn-primary submit"/>
                </form>
            </div>
        {{/if}}
    </div>

    <div class="row-fluid">
        <div class="bottom">
            <h1>This the footer</h1>
        </div>
    </div>
</template>
